.item{
  &__main{
    display: flex;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
  }
  &__header{
    text-align: center;
    margin-top: 1%;
    width: 40%
  }
  &__desc{
    width: 50%;
    align-self: center;
  }
  &__img{
    height: 31vh;
    min-width: 200px;
    border-radius: 2rem;
  }
  &__tags{
    display: flex;
    gap: 4%;
    align-items: center;
    font-size: 1.2rem;
    &__price{
      background-color: #404040;
      color: #fff;
      padding: 1%;
      border-radius: 1rem;
    }
    &__type{
      color: #fff;
      padding: 1%;
      border-radius: 1rem;
      text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    }
  }
  border-radius: 2rem;
  padding: 1%;
  margin-bottom: 2%;
  background-color: #fff;
  cursor: pointer;
}