.filters{
    &__buttonOption{
        margin-top: 4%;
        border-radius: 1rem;
        margin-right: 4%;
        margin-bottom: 4%;
        border: 0px;
    }
    &__buttonOption:hover{
        background-color: #4287f5;
        color: #fff;
        border-color: #fff;
    }
    &__buttonOptionActive{
        margin-top: 4%;
        border-radius: 1rem;
        margin-right: 4%;
        margin-bottom: 4%;
        border: 0px;
        background-color: #54c758;
        color: #fff;
    }
    &__buttonOptionActive:hover{
        background-color: #5ee962;
        color: #fff;
        border-color: #fff;
    }
    margin-left: 10%;
    width: 20vw;
    font-weight: lighter;
    align-items: center;
}