.filters{
    &__buttonOption{
        border-radius: 1rem;
        border: 0px;
        padding: 1%;
        padding-left: 2%;
        padding-right: 2%;
        background-color: #ff5252;
        color: #fff;
    }
    @media screen and (min-width: 600px) {
        &__buttonOption, &__buttonOptionActive{
            font-size: 1rem;
        } 
    }
    @media screen and (min-width: 768px) {
        &__buttonOption, &__buttonOptionActive{
            font-size: 1.1rem;
        } 
    }
    @media screen and (min-width: 992px) {
        &__buttonOption, &__buttonOptionActive{
            font-size: 1.2rem;
        } 
    }
    @media screen and (min-width: 1200px) {
        &__buttonOption, &__buttonOptionActive{
            font-size: 1.3rem;
        } 
    }
    &__buttonOption:hover{
        background-color: #fff;
        color: #ff5252;
    }
    &__buttonOptionActive{
        border-radius: 1rem;
        border: 0px;
        padding: 1%;
        padding-left: 2%;
        padding-right: 2%;
        background-color: #54c758;
        color: #fff;
    }
    &__buttonOptionActive:hover{
        background-color: #5ee962;
        color: #fff;
        border-color: #fff;
    }
    font-weight: lighter;
    align-items: center;
    display: flex;
    gap: 5%;
}
@media screen and (max-width: 992px) {
    .filters{
        display: block;
        &__buttonOption{
            margin-right: 2%;
            margin-bottom: 1%;
        }
    }
}