.header{
    display: flex;
    justify-content: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-image: url("https://wallpapersmug.com/u/ebde76/delicious-pizza-food.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header__text{
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    border: 1px solid #fff;
    padding: 1rem;
    font-weight: bold;
    text-shadow: 0px 0px 10px #000;
}

@media screen and (min-width: 868px) {
    .header{
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}

@media screen and (min-width: 1100px) {
    .header__text{
        font-size: 2.2rem;
        border: 2px solid #fff;
    }
}