.navBar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: 100vw;
}

.navBar__main{
    display: none;
    align-items: center;
}

.navBar__logo{
    width: 50px;
    height: 55px;
}

.navBar__title, .navBar__link{
    font-size: 1.2rem;
}

.navBar__routes{
    display: flex;
    gap: 2rem;
    align-items: center;
}

.navBar__link{
    text-decoration: none;
    color: #000;
}

.navBar-return{
    border: 0;
    font-size: 1rem;
    background-color: #f50021;
    color: #fff;
    cursor: pointer;
    padding: 0.5rem;
}

@media screen and (min-width: 868px) {
    .navBar{
        gap: 12rem;
    }

    .navBar__main{
        display: flex;
    }
}

