.item{
  &__main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
  }
  &__header{
    text-align: center;
    margin-top: 1%;
    width: auto;
    max-width: 50%;
    &__title{
      width: 100%;
    }
  }
  &__desc{
    padding-left: 3%;
    padding-right: 3%;
    align-self: center;
    width: 40%
  }
  &__img{
    border-radius: 2rem;
  }
  @media screen and (max-width: 600px) {
    &__img{
      height: 15vh;
    }
  }
  @media screen and (min-width: 600px) {
    &__img{
      height: 19vh;
    }
  }
  @media screen and (min-width: 768) {
    &__img{
      height: 23vh;
    }
  }
  @media screen and (min-width: 992px) {
    &__img{
      height: 27vh;
    }
  }
  @media screen and (min-width: 1200) {
    &__img{
      height: 31vh;
    }
  }
  &__tags{
    display: flex;
    gap: 4%;
    align-items: center;
    font-size: 1.2rem;
    &__price{
      background-color: #404040;
      color: #fff;
      padding: 3%;
      border-radius: 1rem;
      margin-bottom: 5%;
    }
    &__type{
      color: #fff;
      padding: 3%;
      border-radius: 1rem;
      text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    }
    
  }
  @media screen and (max-width: 992px) {
    &__tags{
      display: block;
      &__portion,&__serving,&__type,&__price{
        margin-bottom: 5%;
        padding: 5%;
        text-align: center;
      }
      &__portion,&__serving{
        border-radius: 2rem;
        border: 2px solid black;
      }
    }
  }
  border-radius: 2rem;
  padding: 1%;
  margin-bottom: 2%;
  background-color: #fff;
  cursor: pointer;
}