@import url("../../styles/variables.scss");
@import url("../../styles/breakpoints.scss");

.navBar {
    &__hidden{
        opacity: 0%;
        height: 0;
    }
    &__totalHidden{
        display: none;
    }
    &__menu{
        padding-left: 3%;
        gap: 1.5%;
        width: auto;
        height: auto;
        background-color: #ffffff;
        color: #000000;
        display: flex;
        transition: all ease 1s;
    }
    &__logo{
        width: 5%;
        height: 50%;
    }
    &__title{
        font-weight: bold;
        margin-top: auto;
        margin-bottom: auto;
    }
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    align-items: center;
}

.header{
    &__text{
        font-size: 350%;
        text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
        width: 30vh;
        padding: 1%;
        padding-right: 20%;
        padding-left: 2%;
        color: #ffffff;
        border: 2px solid #fff;
        border-radius: 1rem;
    }
    padding: 1%;
    margin-bottom: 1%;
    height: auto;
    background-image: url("https://wallpapersmug.com/u/ebde76/delicious-pizza-food.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
}

.main {
    padding: 2%;
    padding-right: 4%;
}

.menu {
    &__title{
        margin-right: 2%;
        margin-top: auto;
        margin-bottom: auto;
    }
    width: 100%;
    border-radius: 2rem;
    padding-left: 2%;
    margin-bottom: 2%;
    display: flex;
    align-items: center;
    background-color: #e4e4e4;
}

